description = "Homepage"

[galleries]
galleryName = 1
galleryType = "slider"

[services]
serviceName = 1

[formwidget]
formType = "first"
==
<!DOCTYPE html>
<html>
    {% partial "meta" %}
    <body>

        <!-- Header -->
        {% partial "header" %}

        <!-- Content -->
        <main class="main">
          {% partial "intro" %}

          <section class="warranty">
            <div class="container warranty__container">
              <div class="row">
                <div class="col-12">
                  <div class="warranty__title">Решим</div>
                  <div class="warranty__info">
                    <div class="warranty__slider" data-js="warranty-carousel">
                      {% for problem in this.theme.intro_problems %}
                        <span class="warranty__typeit">{{problem.title}}</span>
                      {% endfor %}
                    </div>
                    <span class="warranty__text">с которой не справился ваш инженерный отдел</span>
                  </div>
                  <div class="warranty__title">Или</div>
                  <div class="warranty__info">
                    <span class="warranty__typeit warranty__typeit_white">
                      ВЕРНЕМ
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150" preserveAspectRatio="none">
                        <path d="M9.3,127.3c49.3-3,150.7-7.6,199.7-7.4c121.9,0.4,189.9,0.4,282.3,7.2C380.1,129.6,181.2,130.6,70,139 c82.6-2.9,254.2-1,335.9,1.3c-56,1.4-137.2-0.3-197.1,9"></path>
                      </svg>
                    </span>
                    <span class="warranty__text">деньги</span>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="why">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="why__title">Почему стоит работать с нами?</div>
                </div>
                {% for item in this.theme.why_list %}
                  {% if loop.index == 1 or loop.index == 4 %}
                    <div class="col-12 col-sm-12 col-md-4 {{ loop.index == 1 ? 'why__item-first' : ''  }} {{ loop.index == 4 ? 'why__item-last' : ''  }}">
                  {% endif %}
                    <div class="why__block">
                      <div class="why__subtitle">{{ item.title }}</div>
                      <div class="why__text">{{ item.descr }}</div>
                    </div>
                  {% if loop.index == 3 or loop.index == 6 %}
                    </div>
                  {% endif %}

                {% endfor %}

                <div class="col-12 col-sm-12 col-md-4 align-self-end why__item-center">
                  <img src="{{ 'assets/images/man.png'|theme }}" alt="Сергей Лукьянов" class="why__img"/>
                  <div class="why__dir">Сергей Лукьянов - Руководитель</div>
                </div>

              </div>
            </div>
          </section>

          <section class="sertificate">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="sertificate__title">сертификаты соответствия</div>
                </div>
                {% for item in this.theme.sertificate_list %}
                <div class="col-6 col-sm-6 col-md-3 col-xl-3">
                  <div class="sertificate__item">
                    <a href="{{ item.full|media }}" data-lightbox="sertificate" class="sertificate__item-link">
                      <img src="{{ item.preview|media }}" alt="" class="sertificate__item-pic"/>
                    </a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </section>

          {% component 'services' %}

          {% partial "contact" %}

          {% partial "counter" %}

          {% component 'galleries' %}

        {% partial "contact-bottom" %}

        </main>

        <!-- Footer -->
        {% partial "footer" %}
        <!-- Modal -->
        <div class="modal-backdrop fade"></div>
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Оставить заявку</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {% component 'formwidget' %}
              </div>
            </div>
          </div>
        </div>
        <!-- Scripts -->
        <script src="{{ 'assets/dist/js/app.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}
        <script>
          (function(w, d, s, o){
            var j = d.createElement(s); j.async = true; j.src = '//script.marquiz.ru/v2.js';j.onload = function() {
              if (document.readyState !== 'loading') Marquiz.init(o);
              else document.addEventListener("DOMContentLoaded", function() {
                Marquiz.init(o);
              });
            };
            d.head.insertBefore(j, d.head.firstElementChild);
          })(window, document, 'script', {
              host: '//quiz.marquiz.ru',
              region: 'eu',
              id: '609d102b4b46500040f529cf',
              autoOpen: false,
              autoOpenFreq: 'once',
              openOnExit: false,
              disableOnMobile: false
            }
          );
        </script>
    </body>
</html>