description = "Contact"
==
<section class="contacts">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="contacts__box">
          <div class="contacts__title">Остались вопросы</div>
          <div class="contacts__subtitle">с радостью вам ответим</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contacts__box">
          <a href="tel:{{this.theme.phone}}" class="contacts__phone">{{this.theme.phone}}</a>
          <div class="contacts__descr">Бесплатная консультация</div>
        </div>
      </div>
    </div>
  </div>
</section>