description = "Counter"
==
<div class="count">
  <div class="container">
    <div class="count__row">
      <div class="count__item">
        <span class="count__item-num" data-js="counter">14</span>
        <div class="count__item-text">Лет на <br>рынке</div>
      </div>
      <div class="count__item">
        <span class="count__item-num" data-js="counter">368</span>
        <div class="count__item-text">выполненных <br>проектов</div>
      </div>
      <div class="count__item">
        <span class="count__item-num" data-js="counter">12</span>
        <div class="count__item-text">месяцев <br>гарантии</div>
      </div>
      <div class="count__item">
        <span class="count__item-num" data-js="counter">35</span>
        <div class="count__item-text">человек в <br>штате</div>
      </div>
    </div>
  </div>
</div>