description = "Header-nav"

[viewBag]

[staticMenu headerLeft]
code = "header-left"

[staticMenu headerRight]
code = "header-right"
==
<nav class="header__nav">
  <div class="header__mobile-toggle" data-js="toggle-menu">
    <svg class="header__mobile-ico" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 2V0H18V2H0ZM0 7H18V5H0V7ZM0 12H18V10H0V12Z" fill="currentColor"/>
    </svg>
  </div>
  {% partial "menu-item" items=headerLeft.menuItems classname="header__nav-row_left" %}
  <a href="/" class="header__logo">
    <img src="{{ 'assets/images/logo.png'|theme }}" alt="" class="header__logo-img" />
  </a>
  {% partial "menu-item" items=headerRight.menuItems %}
</nav>