description = "Intro section"
==
<section class="intro" style="background-image: url({{this.theme.intro_bg|media}})">
  <div class="container intro__container">
    <div class="row">

      <div class="col-12 col-md-12 col-lg-6">
        <h2 class="intro__title">{{this.theme.site_name}}</h2>
        <div class="intro__subtitle">
          <span class="intro__subtitle-text">Капитальный ремонт и производство гидроцилиндров</span>
          <span class="intro__subtitle-typeit" data-js="type-intro"></span>
        </div>
        <a href="#!" class="intro__btn">Оперативно связаться с инженером</a>
        <a href="tel:{{this.theme.phone}}" class="intro__phone">{{this.theme.phone}}</a>
        <div class="intro__send">
          <svg class="intro__send-ico" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20 6.5C20 5.39 19.11 4.5 18 4.5H14V2.5C14 1.39 13.11 0.5 12 0.5H8C6.89 0.5 6 1.39 6 2.5V4.5H2C0.89 4.5 0.01 5.39 0.01 6.5L0 17.5C0 18.61 0.89 19.5 2 19.5H18C19.11 19.5 20 18.61 20 17.5V6.5ZM12 4.5V2.5H8V4.5H12ZM2 6.5V17.5H18V6.5H2Z" fill="currentColor"/>
          </svg>
          <div class="intro__send-text">или просто отправьте заявку или ТЗ на <a href="mailto:{{this.theme.t_email}}" class="intro__send-link">{{this.theme.t_email}}</a></div>
        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-6">
        <div class="intro__status">Пожалуй, лучший <br>сервис гидравлики<sup>*</sup></div>
        <div class="intro__list">

          <div class="intro__item">
            <svg class="intro__item-ico" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8 20H17C17.83 20 18.54 19.5 18.84 18.78L21.86 11.73C21.95 11.5 22 11.26 22 11V9C22 7.9 21.1 7 20 7H13.69L14.64 2.43L14.67 2.11C14.67 1.7 14.5 1.32 14.23 1.05L13.17 0L6.58 6.59C6.22 6.95 6 7.45 6 8V18C6 19.1 6.9 20 8 20ZM8 8L12.34 3.66L11 9H20V11L17 18H8V8ZM4 8H0V20H4V8Z" fill="currentColor"/>
            </svg>
            Сохраняем качество и экономим до 45% за счет подбора аналогов</div>
          <div class="intro__item">
            <svg class="intro__item-ico" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5758 8.90959L21.6558 17.9896C22.0558 18.3896 22.0558 19.0196 21.6558 19.3996L19.3558 21.6996C18.9658 22.0896 18.3358 22.0896 17.9458 21.6996L8.83583 12.5896C6.51583 13.4596 3.80583 12.9696 1.94583 11.1096C-0.354171 8.81959 -0.564171 5.22959 1.29583 2.68959L5.12583 6.51959L6.54583 5.10959L2.70583 1.25959C5.25583 -0.60041 8.83583 -0.39041 11.1358 1.90959C13.0258 3.80959 13.5058 6.56959 12.5758 8.90959ZM9.19583 10.1296L18.6558 19.5896L19.5358 18.6996L10.0858 9.24959C10.5458 8.65959 10.8458 7.99959 10.9658 7.28959C11.2158 5.89959 10.8058 4.40959 9.72583 3.32959C8.77583 2.38959 7.52583 1.94959 6.28583 2.01959L9.37583 5.10959L5.13583 9.34959L2.04583 6.25959C1.97583 7.49959 2.41583 8.75959 3.36583 9.69959C4.40583 10.7396 5.83583 11.1496 7.19583 10.9496C7.90583 10.8496 8.58583 10.5796 9.19583 10.1296Z" fill="currentColor"/>
            </svg>
            Быстро исправим за счет своего склада и производства
          </div>
          <div class="intro__item">
            <svg class="intro__item-ico" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9 0L0 4V10C0 15.55 3.84 20.74 9 22C14.16 20.74 18 15.55 18 10V4L9 0ZM16 10C16 14.52 13.02 18.69 9 19.93C4.98 18.69 2 14.52 2 10V5.3L9 2.19L16 5.3V10ZM3 12L4.41 10.59L7 13.17L13.59 6.58L15 8L7 16L3 12Z" fill="currentColor"/>
            </svg>
            Вернем деньги, если проблема не исправлена
          </div>
        </div>
        <div class="intro__comment">*по мнению наших клиентов</div>
      </div>

    </div>
  </div>

  <div class="intro__bottom">
    <div class="container intro__container">
      <div class="row justify-content-center">

        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <div class="intro__feature">
            <a href="#enginer" class="intro__feature-link scroll-to"></a>
            <img src="{{ 'assets/images/intro-1.png'|theme }}" alt="" class="intro__feature-img">
            <div class="intro__feature-title">проектный инжиниринг</div>
          </div>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <div class="intro__feature">
            <a href="#service" class="intro__feature-link scroll-to"></a>
            <img src="{{ 'assets/images/intro-4.png'|theme }}" alt="" class="intro__feature-img">
            <div class="intro__feature-title">Сервисное обслуживание</div>
          </div>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <div class="intro__feature">
            <a href="#complect" class="intro__feature-link scroll-to"></a>
            <img src="{{ 'assets/images/intro-6.png'|theme }}" alt="" class="intro__feature-img">
            <div class="intro__feature-title">поставка комплектующих </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>